# server configuration
HOST=
PORT=
 
# node-postgres configuration
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

# node-postgres configuration for testing
PGUSER_TEST=
PGHOST_TEST=
PGPASSWORD_TEST=
PGDATABASE_TEST=
PGPORT_TEST=

# JWT token
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=1

# message broker
RABBITMQ_SERVER=

# redis
REDIS_SERVER=