# server configuration
HOST=
PORT=
 
# node-postgres configuration
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

# node-postgres configuration for testing
PGUSER_TEST=
PGHOST_TEST=
PGPASSWORD_TEST=
PGDATABASE_TEST=
PGPORT_TEST=

# JWT token
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=

# message broker
RABBITMQ_SERVER=

# redis
REDIS_SERVER=

# aws-sdk
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_CLOUDFRONT_NAME=